body {
    font-family: 'Open Sans Condensed';
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 23px !important;
}